.ng-valid[required], .ng-valid.required  {
    border-left: 4px solid #13D61C;
    border-right: 4px solid #13D61C; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 4px solid #A31917 ; 
    border-right: 4px solid #A31917 ;/* red */
  }